<div class="py-6 mt-5">
    <div class="flex bg-white rounded-lg shadow-lg overflow-hidden mx-auto max-w-sm lg:max-w-4xl mt-auto">
        <div class="hidden lg:block lg:w-1/2 bg-cover" style="background-image:url('/logo.png')"></div>
        <div class="w-full p-8 lg:w-1/2">
            <h2 class="text-2xl font-semibold text-gray-700 text-center">Vex</h2>
            <p class="text-xl text-gray-600 text-center">Forgot password</p>
            <div class="mt-4 flex items-center justify-between">
                <span class="border-b w-1/5 lg:w-1/4"></span>
                <a href="#" class="text-xs text-center text-gray-500 uppercase">Enter your e-mail address</a>
                <span class="border-b w-1/5 lg:w-1/4"></span>
            </div>
            {{#if error}}
                <div class="mt-4 text-red-500 text-center">{{error}}</div>
            {{/if}}
            {{#if success}}
                <div class="mt-4 text-green-500 text-center">{{success}}</div>
            {{/if}}
            <form action="/forgot" method="post">
                <div class="mt-4">
                    <div class="flex justify-between">
                        <label class="block text-gray-700 text-sm font-bold mb-2">Email</label>
                    </div>
                    <input name="email"
                        class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none"
                        type="email">
                </div>
                <div class="mt-8">
                    <button class="bg-gray-700 text-white font-bold py-2 px-4 w-full rounded hover:bg-gray-600"
                        type="submit">Send reset email</button>
                </div>
            </form>

        </div>
    </div>
</div>

</div>