<h1 class="text-5xl font-bold w-screen text-center mt-28 text-gray-400">User dashboard</h1>

<div class="w-screen text-center text-2xl mt-10">

    <div class="mt-10">

      Hi there, {{ currentUser.name }}.<br />
      
      You can put your own content here.
        
    
    </div>

</div>