<h1 class="text-5xl font-bold w-screen text-center mt-28 text-gray-400">welcome to Vex</h1>

<div class="w-screen text-center text-2xl mt-10">

  These are your users: <br />
    {{#each allUsers}}
      - {{this.name}}<br />
    {{/each}}
</div>